<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    serret page...
    <script>
        app.post("/login" , async(req,res) => {
    try{

        const email = req.body.email;
        const pass = req.body.pass;

        const userEmail= await Regi.findOne({email: email});

        // res.send(userEmail);
        // console.log(userEmail);

    }catch(error){
        res.status(400).send("Invalid login Details.......");
    }
})
    </script>
</body>
</html>